* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151515;
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #151515;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--color-blue);
}

#loading-text {
  position: absolute;
  color: var(--color-white);
  font-size: 3rem;
  z-index: 10;
}

:root {
  --color-blue: #2671e2;
  --color-black: #202020;
  --color-white: #fafafa;
}

.container {
  display: inline;
  border-radius: 20px;
  width: 95%;
  max-width: 400px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
}

.content {
  min-width: 320px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/****************** WIDGET 1 */
.widget1 {
  width: 100%;
  height: 16%;
  background-color: var(--color-black);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.widget1 img {
  width: 100%;
  border-radius: 8px;
}

.info-user {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  gap: 0.6rem;
}

.img-user {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid var(--color-blue);
}

.name-user h1 {
  font-size: 1.2rem;
  color: var(--color-white);
  padding-bottom: 0.2rem;
  font-weight: bold;
}

.name-user span {
  color: #fafafab4;
  font-size: 0.8rem;
}

.info-icon {
  width: 35px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.info-icon img {
  width: 100%;
  animation: rotate 5s linear infinite;
}

/****************** WIDGET 2 */
.widget2 {
  width: 100%;
  height: 16%;
  background-color: var(--color-black);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hard-skills {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0.4rem;
}

.destaque {
  color: var(--color-blue);
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 0.3rem;
}

.skills-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-icons i {
  color: #fff;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.skills-icons i:hover {
  cursor: pointer;
}

/* Cores específicas para cada ícone */
.skills-icons .fa-wordpress-simple {
  --color-animacao: #21759b;
}
.skills-icons .fa-js {
  --color-animacao: #f7df1e;
}

.skills-icons .fa-figma {
  --color-animacao: #f01c0d;
}

.skills-icons .fa-python {
  --color-animacao: #3776ab;
}

.skills-icons .fa-react {
  --color-animacao: #61dafb;
}

.skills-icons .fa-node {
  --color-animacao: #339933;
}

.skills-icons .fa-php {
  --color-animacao: #777bb4;
}

.skills-icons .fa-java {
  --color-animacao: #007396;
}

.skills-icons .fa-trello {
  --color-animacao: #0079bf;
}

.skills-icons .fa-git-alt {
  --color-animacao: #f05032;
}

.skills-icons .fa-palette {
  --color-animacao: #eebb2f;
}

/****************** WIDGET 3 */
.widget3 {
  height: 100%;
  height: 32%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
}

.redes-sociais {
  border-radius: 12px;
  width: 50%;
  height: 185px;
  display: flex;
  justify-content: space-around;
  gap: 18px;
  align-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.redes-sociais a {
  background-color: var(--color-black);
  border-radius: 10px;
  width: 45%;
  height: 45%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.redes-sociais i {
  font-size: 2.8rem;
  color: var(--color-white);
}

.redes-sociais .tiktok {
  --color-animacao-redes: #7f14d6;
}

.redes-sociais .instagram {
  --color-animacao-redes: #e1306c;
}

.redes-sociais .github {
  --color-animacao-redes: #000;
}

.redes-sociais .linkedin {
  --color-animacao-redes: #0077b5;
}

.redes-sociais .internet {
  --color-animacao-redes: #4caf50;
}

.redes-sociais .youtube {
  --color-animacao-redes: #ff0000;
}

/****************** WIDGET 4 */
.widget4 {
  width: 100%;
  height: 16%;
  background-color: var(--color-blue);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  padding: 1rem;
}

.meu-site {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
}

.meu-site img {
  width: 50px;
  height: 50px;
}

.meu-site h1 {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-white);
}

/****************** WIDGET 5 */
.widget5 {
  width: 100%;
  height: 16%;
  background-color: var(--color-black);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  padding: 1rem;
}

.freelancer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
}

.freelancer img {
  width: 50px;
  height: 50px;
}

.freelancer h1 {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-white);
}

/****************** WIDGET 6 */
.widget6 {
  width: 100%;
  height: 32%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.widget6 span {
  color: #fafafab4;
  font-size: 1rem;
  padding-top: 1rem;
}

/* ANIMAÇÕES */
.widget1,
.widget2,
.tread,
.box-social,
.widget4,
.widget5 {
  transition: transform 0.3s ease;
}

.widget1:hover,
.widget2:hover,
.tread:hover,
.box-social:hover,
.widget4:hover,
.widget5:hover {
  transform: translateY(-5px);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.meu-site img,
.freelancer img {
  animation: pulse 3s infinite ease-in-out;
}


@keyframes acenderApagar {
  0%, 100% {
    color: #fff;
  }
  50% {
    color: var(--color-animacao);
  }
}

.skills-icons i {
  color: #fff;
  font-size: 1.4rem;
  animation: acenderApagar 5s infinite;
}

@keyframes acenderApagarRedes {
  0%, 100% {
    color: #fff;
  }
  50% {
    color: var(--color-animacao-redes);
  }
}

.redes-sociais i {
  font-size: 2.8rem;
  color: #fff;
  animation: acenderApagarRedes 7s infinite;
}



@keyframes balancar {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Animação de "acender" para os textos dos botões */
@keyframes acenderTexto {
  0%, 100% {
    color: var(--color-white);
  }
  50% {
    color: #31db0e;
  }
}

/* Aplicando a animação de balançar nos botões */
.widget4:hover,
.widget5:hover {
  animation: balancar 0.5s ease-in-out;
}

/* Aplicando a animação de acender no texto */
.meu-site h1,
.freelancer h1 {
  animation: acenderTexto 10s infinite;
}

/* Balançar e acender juntos ao passar o mouse */
.meu-site:hover h1,
.freelancer:hover h1 {
  color: var(--color-blue);
}